.review {
	font-family: verdana;
	color: grey;
	font-size: 20px;
	float: left;
	width: 100%;
	padding-left: 20px;
}
.bodyContainer {
	width: 100%;
	height: 60%;

}
.singleStepContainer {
	
	width: 13%;
	height: 100%;
	float: left;
	text-align: center;
	position: relative;
	margin: 7px;
}
.icon{
	width: 120px;
	height: 120px;
}
.item {
	font-family: verdana;
	font-size: 20px;
	color: grey;
}
.details {
	font-family: verdana;
	font-size: 20px;
	color: purple;
}
.price {
	font-family: verdana;
	color: purple;
}

.edit {
	width: 100%;
	height: 15%;
	position: absolute;
	bottom: 20px;
	text-align: right;
}
.editIcon {
	height: 40px;
	width: 40px;
}
.editText {
	font-family: verdana;
}

.total {
	float: left;
	margin-top: 50px;
	width: 100%;
	height: auto;
	text-align: right;
}
.total p{
	font-family: verdana;
	padding-right: 100px;
}
.paynow{
	margin-top: 30px;
	height: 40px;
	width: 80px;
	background-color: orange;
	text-align: right;
	margin-right: 100px;
	float: right;
}
.paynow a{
	text-decoration: none;
	font-family: verdana;
}